alabaster==0.7.12
autopep8==1.6.0
Babel==2.9.1
certifi==2021.10.8
charset-normalizer==2.0.11
click==8.0.3
colorama==0.4.4
colorlog==6.6.0
cycler==0.11.0
dill==0.3.4
docutils==0.17.1
dpcpp-cpp-rt==2022.0.3
easydev==0.12.0
fitter==1.4.0
fonttools==4.29.1
idna==3.3
imagesize==1.3.0
importlib-metadata==4.10.1
intel-cmplr-lib-rt==2022.0.3
intel-cmplr-lic-rt==2022.0.3
intel-opencl-rt==2022.0.3
intel-openmp==2022.0.3
Jinja2==3.0.3
joblib==1.1.0
kiwisolver==1.3.2
llvmlite==0.38.0
MarkupSafe==2.0.1
matplotlib==3.5.1
mkl==2019.0
mkl-fft==1.3.1
numba==0.55.1
numexpr==2.8.1
numpy==1.21.5
numpydoc==1.2
packaging==21.3
pandas==1.3.5
pexpect==4.8.0
Pillow==9.0.0
ptyprocess==0.7.0
pycodestyle==2.8.0
Pygments==2.11.2
pyparsing==3.0.4
python-dateutil==2.8.2
python-decouple==3.6
pytz==2021.3
requests==2.27.1
scikit-learn==1.0.2
scipy==1.7.3
seaborn==0.11.2
six==1.16.0
snowballstemmer==2.2.0
Sphinx==4.4.0
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
tbb==2021.5.2
threadpoolctl==3.1.0
tick==0.7.0.1
toml==0.10.2
tqdm==4.63.0
typing_extensions==4.0.1
urllib3==1.26.8
zipp==3.7.0
